.app {
  display: flex;
  flex-flow: row wrap;
}

.leaflet-container {
  flex-grow: 4;
  height: 100vh;
  min-width: 425px;
}

.sidebar {
  padding: 10px;
  min-width: 240px;
  background-color: whitesmoke;
}
